@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Condensed:300');

$white: #fff;
$black: #000;
$main-font: 'Qanelas';
$primary-btn-color: #00c46c;
$main-bg-color: #f7f9fb;
$primary-font-color: #343434;
$secondary-font-color: #a0b3b8;
$content-bg-color: #fff;
$signin-input-color: #ebebeb;
$header-name-color: #a0b3b8;
$header-menu-bd-color: #bdd4da;

$app-content-border: 	1px solid rgba(189, 212, 218, .34);
$app-content-hover-border: 1px solid #00d976;
$app-content-border-radius: 4px;
$graph-primary-color: #00c46c;
$graph-secondary-color: #11b0fc;
$graph-third-color: #fe7b4f;
$stats-value-color: #00c46c;
$primary-hover-bg: #ececec;

$app-spacing-letter: .8px;

$app-filter-color: #a0b3b8;
$app-filter-border: 1px solid rgba(189, 212, 218, .65);
$active-filter-color: #00c46c;

@font-face {
  font-family: 'Qanelas';
  src: font-url('Qanelas-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas';
  src: font-url('Qanelas-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
