@import './base';
@import './campaigns';
@import './devise';
@import './graphs';
@import './home';
@import 'components/components';


.app {
  background-color: $main-bg-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  min-width: fit-content;

  &__container {
    display: flex;
    flex-grow: 1;
    text-align: left;
  }
}

.header {
  background-color: $white;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &--signed-in {
    justify-content: space-around;
  }

  &__logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &--signed-in &__logo-container {
    flex-grow: 1;
  }

  &__logo-image {
    &--small {
      display: none;
    }
  }

  &--signed-in &__logo-image {
    display: none;
    margin-left: 38px;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      display: block;
    }

    &--small {
      display: block;
      height: 24px;
      margin-left: 16px;

      @media only screen and (min-width: #{$mobile-breakpoint}) {
        display: none;
      }
    }
  }

  &__menu-section {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &__logout-container {
    flex-basis: 64px;
    height: 100%;
    border-left: solid 1px $header-menu-bd-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__company-name {
    color: $header-name-color;
    font-family: $main-font;
    font-size: 17px;
    margin-right: 31px;
    letter-spacing: $app-spacing-letter;
  }

  &__company-logo {
    height: 60px;
  }

  &__campaign-container {
    display: contents;
  }

  &__campaign-name {
    color: $header-name-color;
    font-family: $main-font;
    font-size: 24px;
    letter-spacing: $app-spacing-letter;
    line-height: 29px;
    padding-right: 5px;
  }

  &__campaign-logo {
    height: 60px;
  }
}
