@import './base';

.campaign-option {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin-bottom: 8px;
  background-color: $content-bg-color;
  flex-basis: 100%;
  border: $app-content-border;
  border-radius: $app-content-border-radius;
  text-decoration: none;

  &:hover {
    border: $app-content-hover-border;
  }

  &__title {
    margin: 0 0 6px;
    font-family: $main-font;
    font-weight: bold;
    letter-spacing: $app-spacing-letter;
    color: $primary-font-color;
    line-height: 36px;
    font-size: 24px;
  }

  &__logo {
    vertical-align: bottom;
  }

  &__date-range {
    margin: 0 0 21px;
    font-family: $main-font;
    font-weight: bold;
    letter-spacing: $app-spacing-letter;
    color: $secondary-font-color;
    font-size: 14px;
    line-height: 22px;
  }

  &__stats-container {
    display: flex;
    flex-direction: row;
  }

  &__stat {
    margin-right: 40px;
  }
}

.campaign-stat {
  display: flex;
  flex-direction: row;

  &__icon {
    margin: 10px 17px 10px 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__value {
    display: inline-block;
    font-family: $main-font;
    color: $stats-value-color;
    letter-spacing: $app-spacing-letter;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }

  &__label {
    font-family: $main-font;
    color: $primary-font-color;
    letter-spacing: $app-spacing-letter;
    font-size: 12px;
    line-height: 14px;
  }
}

.campaign-details {
  flex-basis: 100%;

  &__title {
    font-family: $main-font;
    font-weight: bold;
    color: $primary-font-color;
    margin: 32px 0 6px;
    line-height: 26px;
  }

  &__filters-container {
    display: flex;
    flex-direction: row;
  }

  &__filter {
    flex-basis: calc((100% - 30px)/4);
    margin-right: 10px;
  }

  &__filter:last-child {
    margin-right: 0;
  }

  &__summary {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
  }

  &__summary-stat {
    margin-right: 8px;
    flex-basis: calc((100% - 40px)/6);
  }

  &__summary-stat:last-child {
    margin-right: 0;
  }
}
