@import './base';

.sign-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: #{$mobile-breakpoint}) {
    padding-top: 36px;
  }

  &__container {
    background-color: $white;
    background-image: image-url('login-corner-right.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 64px);
    justify-content: center;
    padding-bottom: 130px;
    width: 100%;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      background-image: image-url('login-corner-left.svg'), image-url('login-corner-right.svg');
      background-position: left top, right bottom;
      border-radius: 5px;
      height: auto;
      padding: 130px 0;
      width: 446px;
    }
  }

  &__form {
    margin: auto;
    width: 70%;
  }

  &__form-title {
    font-family: $main-font;
    font-weight: bold;
    font-size: 34px;
    width: 100%;
    text-align: center;
  }

  &__inputs-container {
    flex-basis: 100%;
    margin-top: 32px;
  }

  &__submit-container {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  &__submit-btn {
    height: 48px;
    width: 124px;
    border-radius: 6px;
    background-color: $primary-btn-color;
    color: $white;
    cursor: pointer;
    font-size: 14px;
  }
}

.user-inputs {
  display: flex;
  flex-direction: column;

  &__input {
    height: 40px;
    opacity: .56;
    border-radius: 10px;
    background-color: $signin-input-color;
    border: 0;
    padding-left: 10px;
    margin-bottom: 10px;

    &::placeholder {
      color: $black;
      opacity: 1;
    }
  }
}
