@import './base';

.summary-graph {
  background-color: $white;
  border-radius: $app-content-border-radius;
  border: $app-content-border;
  padding: 24px;

  &__summary-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    font-size: 20px;
  }

  &__selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 40px;
  }
}
