@import '../base';

.filters-container {
  &__display-button {
    background: $white;
    border-top: $app-content-border;
    bottom: 0;
    color: $primary-font-color;
    cursor: pointer;
    font-family: $main-font;
    font-weight: bold;
    padding: 16px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 200;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      display: none;
    }
  }

  &__content {
    background-color: $white;
    border: $app-content-border;
    bottom: 0;
    box-shadow: 0 0 18px 0 $app-sidebar-shadow-color;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: auto;
    transition: .5s height;
    width: 100%;
    z-index: 200;

    &--open {
      height: 100%;
    }

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      height: calc(100% - 5px);
      margin-top: 5px;
      opacity: .88;
      overflow: unset;
      position: unset;
      width: 226px;
    }
  }

  &__header-container {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    min-height: 26px;
    padding: 0 25px;
  }

  &__title {
    color: $primary-font-color;
    font-family: $main-font;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
  }

  &__close-button {
    width: 16px;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      display: none;
    }
  }

  &__filters {
    flex: 1;
    padding: 0 25px;
  }

  &__filter {
    margin: 10px 0;
  }

  &__filter-separator {
    border: $app-filter-border;
    margin: 15px 0;
    opacity: .3;
  }
}
