@import '../base';

.campaign-detail-data {
  background-color: $content-bg-color;
  border: $app-content-border;
  border-radius: $app-content-border-radius;
  box-sizing: border-box;
  font-family: $main-font;
  position: relative;
  display: flex;
  padding: 5px;

  @media only screen and (min-width: #{$mobile-breakpoint}) {
    flex-direction: column;
    min-height: 66px;
    padding: 12px 10px;
  }

  &--clickable {
    cursor: pointer;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      &:hover {
        border: $app-content-hover-border;
        box-shadow: $app-content-shadow;
      }
    }
  }

  &--breakdown {
    align-items: center;
    font-size: 14px;
    padding: 5px 0;

    &::before {
      border-left: $app-content-border;
      content: '';
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
    }

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      align-items: start;
      font-size: 16px;
      justify-content: space-between;
      padding: 18px;

      &::before {
        content: none;
      }
    }
  }

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    width: 35%;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      margin: auto;
      width: 52px;
    }
  }

  &__data-container {
    align-self: center;
    font-family: $main-font;
    font-size: 16px;
    letter-spacing: .4px;
    line-height: 22px;
    text-align: center;
    width: 100%;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      margin-top: 10px;
    }
  }

  &__data {
    color: $graph-primary-color;
    font-weight: bold;
  }

  &__data--total-people {
    color: $graph-secondary-color;
  }

  &__data--units-extracted {
    color: $graph-third-color;
  }

  &__label {
    color: $primary-font-color;
    display: none;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      display: inline-block;
    }
  }

  &__gender-icon {
    height: 12px;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      height: auto;
      margin-right: 14px;
      vertical-align: bottom;
    }
  }

  &__gender-container {
    align-items: center;
    color: $primary-font-color;
    display: flex;
    justify-content: space-around;
    width: 50%;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      width: auto;
    }
  }
}

