@import '../base';

.campaign-detail-data {
  background-color: $content-bg-color;
  border: $app-content-border;
  border-radius: $app-content-border-radius;
  font-family: $main-font;
  position: relative;

  &__icon-data-container {
    display: flex;
    flex-direction: row;
    padding: 5px;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      min-height: 66px;
      padding: 20px 10px;
    }
  }

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    width: 35%;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      width: 52px;
    }
  }

  &__data-container {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  &__data {
    color: $graph-primary-color;
    font-family: $main-font;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 24px;
    margin-bottom: 4px;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      font-size: 28px;
      line-height: 34px;
    }
  }

  &__data--total-people {
    color: $graph-secondary-color;
  }

  &__data--units-extracted {
    color: $graph-third-color;
  }

  &__label {
    color: $primary-font-color;
    display: none;
    font-family: $main-font;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 14px;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      display: block;
    }
  }

  &__gender-breakdown {
    border: $app-content-border;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
  }

  &--clickable {
    cursor: pointer;
  }
}

