@import '../base';

.campaign-detail-data {
  background-color: $content-bg-color;
  border: $app-content-border;
  border-radius: $app-content-border-radius;
  font-family: $main-font;
  position: relative;
  display: flex;
  padding: 5px;

  @media only screen and (min-width: #{$mobile-breakpoint}) {
    display: block;
    min-height: 66px;
    padding: 12px 10px;
  }

  &--clickable {
    cursor: pointer;
  }

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    width: 35%;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      margin: auto;
      width: 52px;
    }
  }

  &__data-container {
    align-self: center;
    font-family: $main-font;
    font-size: 16px;
    letter-spacing: .4px;
    line-height: 22px;
    text-align: center;
    width: 100%;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      margin-top: 10px;
    }
  }

  &__data {
    color: $graph-primary-color;
    font-weight: bold;
  }

  &__data--total-people {
    color: $graph-secondary-color;
  }

  &__data--units-extracted {
    color: $graph-third-color;
  }

  &__label {
    color: $primary-font-color;
    display: none;

    @media only screen and (min-width: #{$mobile-breakpoint}) {
      display: inline-block;
    }
  }

  &__gender-breakdown {
    border: $app-content-border;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
  }
}

