<div id="app" class="app">
  <%= render 'shared/header' %>
  <div class="app__container">
    <div class="campaigns">
      <h2 class="campaigns__title"><%= t('messages.campaigns.index.title') %></h2>
      <% current_user.company.campaigns.each do |campaign| %>
        <%= render 'campaign_summary', campaign: campaign, stats: @stats[campaign.id] %>
      <% end %>
    </div>
  </div>
</div>
